<div class="coniner">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="dersKodu">
      <mat-header-cell *matHeaderCellDef> Ders Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.dersKodu}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dersAdi">
      <mat-header-cell *matHeaderCellDef> Ders Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.dersAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dersKredi">
      <mat-header-cell *matHeaderCellDef> Ders Kredi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.dersKredi}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>