<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Ders Kodu</mat-label>
      <input matInput placeholder="Ders Kodu" formControlName="dersKodu" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ders Adı</mat-label>
      <input matInput placeholder="Ders Adı" formControlName="dersAdi" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ders Kredi</mat-label>
      <input matInput placeholder="Ders Kredi" formControlName="dersKredi" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ders Öğretim Elemanı</mat-label>
      <input matInput placeholder="Ders Öğretim Elemanı" formControlName="dersOgretimElemanı" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ders Üye Id</mat-label>
      <input matInput placeholder="Ders Üye Id" formControlName="dersUyeId" required>
    </mat-form-field>
  </form>
</div>

<button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;
<button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>&nbsp;